<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paulionitapepanza</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>


    <header class="primary-header flex">

        <div class="navbar-signature">
            <img src="/images/signature.svg"  alt="semnatura">
        </div>

        <button class="mobile-nav-toggle" aria-controls="navbar" aria-expanded="false">
            MENIU
        </button>

        <nav>
            <ul id="navbar" class="navbar flex" data-visible="false" >
                <li>    
                    <a href="/" class="nav-link active home-icon"> ACASĂ </a>
                </li>
                <li>
                    <a href="/galerie" class="nav-link active gallery-icon"> GALERIE </a>
                </li>
                <li>
                    <a href="/contact" class="nav-link active contact-icon"> CONTACT </a>    
                </li>
            </ul>       
        </nav>

    </header>

    <main class="contact-container">
        <div class="contact-card">
            <img src="/images/facebook-logo.svg" alt="Facebook Logo">
            <h2>Facebook</h2>
            <p class="contact-text">Rămâi la curent.</p>
            <a href="https://www.facebook.com/profile.php?id=100080937985418" target="_blank" class="contact-link">Vizitează pagina mea personală!</a>
        </div>
        <div class="contact-card">
            <img src="/images/instagram-logo.svg" alt="Instagram Logo">
            <h2>Instagram</h2>
            <p class="contact-text">Descoperă ultimele postări.</p>
            <a href="https://www.instagram.com/paulionitapepanza/" target="_blank" class="contact-link">Urmărește profilul meu!</a>
        </div>
        <div class="contact-card">
            <img src="/images/mail-logo.svg" alt="Mail Logo">
            <h2>Email</h2>
            <p class="contact-text">Scrie un mail.</p>
            <p class="email">ionitapaul032@gmail.com</p>
        </div>
    </main>
    


    <script src="/js/nav.js"></script>
    <script src="/js/index.js" type="module"></script>

</body>
</html>