<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie de Artă | Paul Cristian Ioniță</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/galerie.css">

</head>

<body>

    <header class="primary-header flex">

        <div class="navbar-signature">
            <img src="/images/signature.svg"  alt="semnatura">
        </div>

        <button class="mobile-nav-toggle" aria-controls="navbar" aria-expanded="false">
            MENIU
        </button>

        <nav>
            <ul id="navbar" class="navbar flex" data-visible="false" >
                <li>    
                    <a href="/" class="nav-link active home-icon"> ACASĂ </a>
                </li>
                <li>
                    <a href="/galerie" class="nav-link active gallery-icon"> GALERIE </a>
                </li>
                <li>
                    <a href="/contact" class="nav-link active contact-icon"> CONTACT </a>    
                </li>
            </ul>       
        </nav>

    </header>

    <main>

        <section class="full-screen-title">
            <h1>
                <span class="word">Galerie</span>
                <span class="word">de</span>
                <span class="word">Artă</span>
            </h1>
        </section>


        <div class="gallery-container hidden">
        
            <div class="gallery vertical left">
                
                    <img src="/images/tablou_vertical_1.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                
                    <img src="/images/tablou_orizontal_1.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                
                    <img src="/images/tablou_1.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                
                    <img src="/images/tablou_2.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                
                    <img src="/images/tablou_vertical_2.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">    
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                
                    <img src="/images/tablou_orizontal_2.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                
                    <img src="/images/tablou_3.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
               
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                
                    <img src="/images/tablou_4.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_3.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_3.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_5.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_6.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_5.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                <img src="/images/tablou_orizontal_5.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_7.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_8.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_6.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_6.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_9.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_10.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_7.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                <img src="/images/tablou_orizontal_7.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_11.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_12.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_8.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_8.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_13.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_14.jpg" alt="" data-modal="true" class="square_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_9.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                <img src="/images/tablou_orizontal_9.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_10.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_11.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_12.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_10.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_13.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_14.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_15.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                <img src="/images/tablou_orizontal_11.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_16.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_17.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_18.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_12.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_19.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_20.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_21.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal left">
                <img src="/images/tablou_orizontal_13.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_22.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_23.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_24.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery horizontal right">
                <img src="/images/tablou_orizontal_14.jpg" alt="" data-modal="true" class="horizontal_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_25.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_26.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_27.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_28.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_29.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_30.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
            <!--  -->
    
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_31.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_32.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery square middle">
                <img src="/images/tablou_vertical_33.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
                <img src="/images/tablou_vertical_34.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical right">
                <img src="/images/tablou_vertical_35.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
            <div class="gallery vertical left">
                <img src="/images/tablou_vertical_36.jpg" alt="" data-modal="true" class="vertical_img" loading="lazy">
                <div class="text-container">
                    <h2>Titlu Tablou</h2>
                    <p>Descriere/Dimensiuni tablou</p>
                </div>
            </div>
    
        
        </div>
    </main>


    <!-- Mobile Gallery -->    

    <!-- Vertical Carousel -->
    <div class="swiper mySwiper hidden" id="vertical-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_1-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_2-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_3-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_4-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_5-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_6-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_7-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_8-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_9-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_10-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_11-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_12-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_13-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_14-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_15-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_16-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_17-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_18-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_19-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_20-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_21-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_22-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_23-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_24-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_25-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_26-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_27-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_28-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_29-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_30-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_31-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_32-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_33-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_34-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_35-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_vertical_36-m.jpg" alt="Tablou" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class=" swiper-button-prev"></div>

    </div>

    <!-- Horizontal Carousel -->
    <div class="swiper mySwiper hidden" id="horizontal-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_1-m.jpg" alt="Tablou Orizontal 1" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_2-m.jpg" alt="Tablou Orizontal 2" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_3-m.jpg" alt="Tablou Orizontal 3" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_4-m.jpg" alt="Tablou Orizontal 4" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_5-m.jpg" alt="Tablou Orizontal 5" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_6-m.jpg" alt="Tablou Orizontal 6" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_7-m.jpg" alt="Tablou Orizontal 7" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_8-m.jpg" alt="Tablou Orizontal 8" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_9-m.jpg" alt="Tablou Orizontal 9" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_10-m.jpg" alt="Tablou Orizontal 10" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_11-m.jpg" alt="Tablou Orizontal 11" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_12-m.jpg" alt="Tablou Orizontal 12" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_13-m.jpg" alt="Tablou Orizontal 13" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_orizontal_14-m.jpg" alt="Tablou Orizontal 14" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class=" swiper-button-prev"></div>
    </div>

    
    <!-- Square Carousel -->
    <div class="swiper mySwiper hidden" id="square-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/tablou_1-m.jpg" alt="Tablou 1" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_2-m.jpg" alt="Tablou 2" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_3-m.jpg" alt="Tablou 3" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_4-m.jpg" alt="Tablou 4" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_5-m.jpg" alt="Tablou 5" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_6-m.jpg" alt="Tablou 6" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_7-m.jpg" alt="Tablou 7" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_8-m.jpg" alt="Tablou 8" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_9-m.jpg" alt="Tablou 9" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_10-m.jpg" alt="Tablou 10" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_11-m.jpg" alt="Tablou 11" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_12-m.jpg" alt="Tablou 12" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_13-m.jpg" alt="Tablou 13" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_14-m.jpg" alt="Tablou 14" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_15-m.jpg" alt="Tablou 15" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_16-m.jpg" alt="Tablou 16" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_17-m.jpg" alt="Tablou 17" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_18-m.jpg" alt="Tablou 18" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_19-m.jpg" alt="Tablou 19" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_20-m.jpg" alt="Tablou 20" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_21-m.jpg" alt="Tablou 21" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/images/tablou_22-m.jpg" alt="Tablou 22" loading="lazy">
                <div class="painting-info">
                    <h3>Titlu Tablou</h3>
                    <p>Dimensiuni tablou</p>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class=" swiper-button-prev"></div>

    </div>





    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>    
    
    <script src="/js/nav.js"></script>
    <script src="/js/gallery.js" type="module"></script>    
    <script src="/js/index.js" type="module"></script>

</body>
</html>